<Configuration name="ConfigTest" status="ERROR" monitorInterval="5">
    <Properties>
        <Property name="env">dev</Property>
    </Properties>
    <Appenders>
<!--        <SystemPropertyArbiter propertyName="env" propertyValue="dev">-->
            <Console name="Out">
                <PatternLayout pattern="%m%n"/>
            </Console>
<!--        </SystemPropertyArbiter>-->
    </Appenders>
    <Loggers>
        <Logger name="com.yuu6" level="trace" additivity="false">
            <AppenderRef ref="Out"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Out"/>
        </Root>
    </Loggers>
</Configuration>